[user]
  name = miura
  email = shinji65536@gmail.com
  signingkey = ~/.ssh/id_ed25519.pub
[rerere]
  enabled = true
[rebase]
  autostash = true
[fetch]
  prune = true
[core]
  editor = nvim
  excludesfile = /Users/Miura.Shinji/.gitignore_global
[pull]
	rebase = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@github.com:hrbrain/hrbx"]
	insteadof = https://github.com/hrbrain/hrbx
[gpg]
 format = ssh
[gpg "ssh"]
 allowedSignersFile = ~/.ssh/allowed_signers
[commit]
 gpgsign = true
